$accent: #fce9c9;
$dark: #282828;

@mixin desktop {
  @media (min-width: 571px) {
    @content;
  }
}

form {
  width: 365px;
  height: auto;
  margin: 3em auto;
  padding: 1em;
  border: 1px solid $accent;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include desktop() {
    width: 400px;
  }

  input {
    padding: 6px 5px;
    margin: 0.75em 0;
  }

  button {
    padding: 6px 12px;
    margin-top: 0.75em;
    color: #fafafa;
    border: none;
    border-radius: 2px;
    background-color: $dark;
    &:hover {
      cursor: pointer;
      background-color: lighten($dark, 50%);
    }
  }
  p.mT {
    color: $dark;
    margin-top: 0.35em;
  }
}
