@import "Nav.scss";
@import "Trends.scss";
@import "Banner.scss";
@import "OrderButton.scss";
@import "Cart.scss";
@import "Form.scss";
@import "PageNotFound";

$fontFamily: "Lato", sans-serif;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
